/* Button filter */
.works-select {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  .item {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  .item:not(:last-child) {
    margin-right: 8px;
  }
}
.buttonselect {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: $second-text-color;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.active,
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
