/* Features */
.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item {
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  .item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  .item:nth-child(-n + 2) {
    @media screen and (max-width: 1199px) and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $second-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
  }
}

.feature-iconset {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.feature-icon {
  height: 70px;
  width: 70px;
}
