/* footer address */
.underside {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: #ffffff;

  .title {
    display: inline-block;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
/* Logo footer*/
.underside-container {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}
.logo-container {
  min-width: 180px;
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }

  .logo {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
  }
  address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }
  .location {
    display: inline-block;
    margin-bottom: 9px;
  }

  .mailtel {
    color: rgba(255, 255, 255, 0.6);
  }
  .tel {
    display: inline-block;
    margin-bottom: 9px;
  }
}

.soc-container {
  width: 207px;
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
/* Setting soclink for footer */
.footersoclink {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
/* Блок подписки */
.subscribe-container {
  @media screen and (max-width: 479px) {
    align-self: stretch;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 100px;
  }
}
.subscribe-button {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-button .item {
  &:nth-child(1) {
    @media screen and (max-width: 479px) {
      align-self: stretch;
    }
  }

  & + .item {
    @media screen and (max-width: 1199px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }
}
.subscribe-input {
  height: 50px;
  padding-left: 12px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: 0px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &:focus {
    border: 1px solid $accent-color;
  }
  &::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }
}

.subscribe-submit {
  @extend %button;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  font-family: inherit;
  border: 1px solid $accent-color;
  cursor: pointer;
  outline: none;
}
.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* ****************************** */
// .underside .copyright {
//   margin-top: 0;
//   margin-bottom: 0;

//   color: rgba(255, 255, 255, 0.4);
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 2;
//   text-align: center;
// }
