/* Header */
.header {
  position: relative;
}
.borderbot {
  border-bottom: 1px solid #ececec;
}
.nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}
.web-logo {
  color: $accent-color;
}

// Mobi button
.menu-button {
  display: inline-flex;
  padding: 0;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 767px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-button-icon {
  display: block;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

// Mobi button END

/* Navigation */
.menu-nav {
  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      width: 100%;

      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 60px;

      background-color: #ffffff;
      border-top: 1px solid #ececec;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
  }
}

.menu-nav .site-nav {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 156px;
    margin: 50px 0px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 81px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 86px;
  }
}
.site-nav .item {
  position: relative;

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}
.site-nav .link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $second-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav .link.current {
  color: $accent-color;

  &:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background: $accent-color;
  }
}

/* Authentific*/
.auth-nav {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  .item + .item {
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }
  .item:nth-child(1) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
}
.auth-nav .link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.auth-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
