/* Hero */
.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/Hero.jpg);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.button {
  @extend %button;
}
