/* Our jobs */
.section.job {
  padding-top: 0px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.job-list {
  display: flex;

  .item {
    position: relative;
    width: 370px;
    overflow: hidden;
    border-radius: 4px;
  }

  .item + .item {
    margin-left: 30px;
  }

  img {
    display: block;
  }

  .title {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 27px;
    margin-top: 0;
    margin-bottom: 0;

    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}
