.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: $primary-text-color;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
    outline: 1px solid tomato;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    outline: 1px solid blue;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    outline: 1px solid green;
  }
}
/* Section */
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $second-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Global container for soclink*/

.soclink {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  .item:not(:last-child) {
    margin-right: 10px;
  }
}
.soclink-iconset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}
.soclink-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* button */
%button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: $accent-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
